.mainpage-div{
    background-image: url('images/warriorsbackground.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
      background-size: cover;
       display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0%;
 animation: centerSplit 1s linear ;
}
@keyframes centerSplit {
  from{
    background-color: black;
    opacity: 0;
  }
  to {
    background-color: transparent;
   opacity: 1;
    
    
  }
}



.content {
  height: 200vh;
  width: 100vw;
  overflow-y: auto;
  /* padding: 2rem; */
  scrollbar-width: none;
   opacity: 0;
  animation: revealContent 2s linear 1.2s forwards;
}
@keyframes revealContent {
  from{
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }
  to {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    
  }
}



#uparrow{
    background-color: transparent;
    margin-bottom: 0;
    margin-left: 15px;
    height: 30px;
    width: 30px;
     border-radius: 5px;
     color: rgb(187, 113, 16);
     box-shadow: 1px 1px 10px rgb(187, 113, 16) ;
     align-items: end;
     z-index: 2;
     
}
#uparrow:hover{
    box-shadow: 1px 1px 10px rgb(239, 237, 236) ;
    cursor: default;

}
#uparrow i{
  color: gold;
}